adium-theme-ubuntu==0.3.4
attrs==15.2.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0rc1
beautifulsoup4==4.6.0
bleach==1.5.0
blinker==1.3
boto==2.47.0
bz2file==0.98
certifi==2017.4.17
chardet==3.0.4
click==6.7
colorama==0.3.7
configparser==3.5.0
cryptography==1.2.3
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
debtags==2.0
decorator==4.0.11
defer==1.0.6
dill==0.2.6
dirspec==13.10
distlib==0.2.2
duplicity==0.7.6
en-core-web-sm==1.2.0
entrypoints==0.2.3
enum34==1.1.6
Flask==0.12.2
Flask-Cors==3.0.2
Flask-PyMongo==0.5.1
ftfy==4.4.3
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.1.1
gensim==0.13.4.1
glove-python==0.1.0
html5lib==0.9999999
httplib2==0.9.1
idna==2.5
ipaddress==1.0.16
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
lockfile==0.12.2
lxml==3.5.0
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
mock==2.0.0
Morfessor==2.0.2a4
mpld3==0.3
murmurhash==0.26.4
nbconvert==5.2.1
nbformat==4.3.0
ndg-httpsclient==0.4.0
nltk==3.2.4
notebook==5.0.0
numpy==1.13.1
oauthlib==1.0.3
oneconf==0.3.9
PAM==0.4.2
pandas==0.20.2
pandocfilters==1.4.1
pathlib==1.0.1
pathlib2==2.2.1
pbr==3.1.1
pexpect==4.0.1
pickleshare==0.7.4
Pillow==3.1.2
piston-mini-client==0.7.5
plac==0.9.6
polyglot==16.7.4
preshed==1.0.0
prompt-toolkit==1.0.14
protobuf==3.3.0
ptyprocess==0.5.1
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycld2==0.31
pycorenlp==0.3.0
pycrypto==2.6.1
pycups==1.9.73
pygal==2.3.1
Pygments==2.2.0
pygobject==3.20.0
PyICU==1.9.7
PyJWT==1.3.0
pymongo==3.4.0
PyOpenGL==3.0.2
pyOpenSSL==0.15.1
pyparsing==2.2.0
Pyrex==0.9.8.5
pyserial==3.0.1
python-apt==1.1.0b1
python-dateutil==2.6.0
python-debian==0.1.27
python-Levenshtein==0.12.0
pytz==2017.2
pyxdg==0.25
pyzmq==16.0.2
qtconsole==4.3.0
regex==2017.4.5
reportlab==3.3.0
requests==2.18.1
scandir==1.5
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
service-identity==16.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
smart-open==1.5.3
software-center-aptd-plugins==0.0.0
spacy==1.8.2
subprocess32==3.2.7
tensorflow-gpu==1.2.1
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
textblob==0.12.0
thinc==6.5.2
toolz==0.8.2
tornado==4.5.1
tqdm==4.14.0
traitlets==4.3.2
Twisted==16.0.0
ubuntuone-client-data==14.4
ujson==1.35
unity-lens-photos==1.0
urllib3==1.21.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==2.0.0
wrapt==1.10.10
zope.interface==4.1.3
