adium-theme-ubuntu==0.3.4
appdirs==1.4.3
apt-xapian-index==0.45
asn1crypto==0.22.0
attrs==16.3.0
autocorrect==0.3.0
Automat==0.5.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.3
bitmap==0.0.6
bleach==1.5.0
boto==2.45.0
bson==0.4.4
bz2file==0.98
certifi==2017.1.23
cffi==1.10.0
chardet==2.0.1
chrome-gnome-shell==0.0.0
click==6.7
colorama==0.2.5
command-not-found==0.3
configparser==3.5.0
constantly==15.1.0
cryptography==1.8.1
cssselect==1.0.1
debtagshw==0.1
decorator==4.0.11
defer==1.0.6
dirspec==13.10
docutils==0.11
duplicity==0.6.23
EasyProcess==0.2.3
entrypoints==0.2.2
enum34==1.1.6
Flask==0.12
Flask-Cors==3.0.2
Flask-PyMongo==0.4.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.0.5
gensim==0.13.4.1
geopy==1.11.0
html5lib==0.999
httplib2==0.8
idna==2.5
incremental==16.10.1
ipaddress==1.0.18
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
ipywidgets==5.2.2
itsdangerous==0.24
Jinja2==2.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.0.2
lockfile==0.8
lxml==3.3.3
MarkupSafe==0.23
matplotlib==1.3.1
mistune==0.7.3
mock==2.0.0
Morfessor==2.0.2a4
MySQL-python==1.2.5
nbconvert==5.1.1
nbformat==4.2.0
ndg-httpsclient==0.4.2
nltk==3.2.2
nose==1.3.7
notebook==4.4.1
num2words==0.5.4
numpy==1.12.0
numpydoc==0.4
oauthlib==2.0.1
oneconf==0.3.7.14.4.1
packaging==16.8
PAM==0.4.2
pandas==0.19.2
pandocfilters==1.4.1
parsel==1.1.0
pathlib2==2.2.1
pbr==2.0.0
pexpect==3.1
pickleshare==0.7.4
Pillow==2.3.0
piston-mini-client==0.7.5
polyglot==16.7.4
prompt-toolkit==1.0.13
protobuf==3.2.0
ptyprocess==0.5.1
pyasn1==0.2.2
pyasn1-modules==0.0.8
pycld2==0.31
pycorenlp==0.3.0
pycparser==2.17
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
PyDispatcher==2.0.5
pygal==2.3.1
pygal-maps-world==1.0.2
Pygments==1.6
pygobject==3.12.0
PyICU==1.9.5
pymongo==3.4.0
pyOpenSSL==16.2.0
pyotp==2.2.4
pyparsing==2.2.0
pyserial==2.6
pysmbc==1.0.14.1
pysolr==3.6.0
pytesseract==0.1.6
python-apt===0.9.3.5ubuntu2
python-cloudfiles==1.7.10
python-dateutil==2.6.0
python-debian===0.1.21-nmu2ubuntu2
pytz==2016.10
PyVirtualDisplay==0.2.1
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
queuelib==1.4.2
reportlab==3.0
requests==2.13.0
requests-oauthlib==0.8.0
roman==2.0.0
scandir==1.4
scikit-learn==0.18.1
scipy==0.18.1
Scrapy==1.3.2
selenium==3.0.2
service-identity==16.0.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplekml==1.3.0
singledispatch==3.4.0.3
six==1.10.0
smart-open==1.4.0
software-center-aptd-plugins==0.0.0
Sphinx==1.2.2
ssh-import-id==3.21
system-service==0.1.6
tensorflow==1.0.1
terminado==0.6
testpath==0.3
Theano==0.9.0
tornado==4.4.2
traitlets==4.3.1
Twisted==17.1.0
Twisted-Core==13.2.0
Twisted-Web==13.2.0
twython==3.4.0
unity-lens-photos==1.0
urllib3==1.7.1
vaderSentiment==2.5
w3lib==1.17.0
watson-developer-cloud==0.25.1
wcwidth==0.1.7
Werkzeug==0.11.15
widgetsnbextension==1.2.6
wordcloud==1.2.1
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose===3.6.3build2
xlwt==0.7.5
zope.interface==4.0.5
